JustForFun/WebApp/bin/
JustForFun/WebApp/obj/
JustForFun/DAL/bin/
JustForFun/DAL/obj/
JustForFun/packages/
JustForFun/Entities/obj/
JustForFun/Entities/bin/
JustForFun/WebApp/bower_components/
JustForFun/WebApp/node_modules/