@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
}

<div ng-app="app-module">
    <div ng-controller="userController">
        <p ng-bind="name"></p>
        <input ng-change="alert()" ng-model="name" />
    </div>    
</div>
