body {
}

.content {
    left: 0;
    position: relative;
    transition: left 0.6s;
}

.content-color {
    background: white;
}

.content.moved{
    left: -16.6%;   
    transition: 0.3s; 
}

.menu-bar {
    background: -moz-linear-gradient(top,  rgba(50,201,0,0.77) 0%, rgba(180,227,145,0.89) 50%, rgba(50,201,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(50,201,0,0.77) 0%,rgba(180,227,145,0.89) 50%,rgba(50,201,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(50,201,0,0.77) 0%,rgba(180,227,145,0.89) 50%,rgba(50,201,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c432c900', endColorstr='#32c900',GradientType=0 ); /* IE6-9 */

    box-shadow: -5px 5px 12px 3px #587455 inset;

    float:left;
    width: 16.666666666666665%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}

.menu-content {
    margin-top: 3%;
    overflow: auto;
    color: white;
    padding-bottom: 16px;
}

.menu-link {
    height:40px;
    cursor: pointer;
    background: transparent;
    transition: 0.7s;
    padding-left: 10%;
}

.menu-link:hover {
    box-shadow: -10px 5px 7px 3px rgb(88, 116, 85);
    background: white;
    transition: 0.4s;
    color: black;
}

.clickable {
    transition: 0.6s;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.clickable:hover {    
    transition: 0.6s;
    border: 2px solid #808080;
    border-radius: 4px;
}

.bottom-bar {
    border-radius: 4px;
    transition: 0.6s;
    padding: 10px;
    background: transparent;
}

.bottom-bar span {
    margin-left: 3px;
    margin-right: 3px;
}

.bottom-bar .pinned {
    transition: 0.6s;
    background: white;
}

#pageInner {
    overflow:auto;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
