@{
    ViewBag.Title = "My page";
}

@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
}

<div ng-app="app-module" ng-controller="menuAnimationController">
    <div ng-class="moveContent">
        <div class="menu-bar col-md-2" ng-mouseenter="openMenu()" ng-mouseleave="closeMenu()">            
            <div class="menu-content">
                <h2 style="margin-left: 5%; margin-top: 3%;">Fast Meets</h2>
                <div class="menu-link" style="height:40px;">
                    <a ui-sref="login">login</a>
                </div>
                <div class="menu-link" style="height:40px;">
                    <a ui-sref="value">value</a>
                </div>
                <div class="menu-link" style="height:40px;">
                    <a ui-sref="index">index</a>
                </div>
            </div>
            <div id="pin-key"><span ng-click="togglePinMenuBar()" class="pull-right glyphicon glyphicon-pushpin clickable" ng-class="pinned"></span></div>
        </div>
        <div class="col-md-10" id="pageInner">
            <div data-ui-view></div>
        </div>
    </div>
</div>
